{% if tools.views.source.values() | select | list | length > 0 %}
# Tool: Source

The **Source Tool** provides **Views** into the application codebase. 

**Context**

- [{{ properties.urls.github }}](https://{{ properties.urls.github }}) is the version control for the environment.

## Views

{% if tools.views.source.workflow %}
{% include 'tools/source/views/workflows/' ~ tools.parameters.source.workflow ~ '.md.j2' %}
{% endif %}

{% if tools.views.source.script %}
{% include 'tools/source/views/scripts/' ~ tools.parameters.source.script ~ '.md.j2' %}
{% endif %}

{% endif %}