# Tool: Shell

## Views

{% if views.shell.directory %}
{% include '.tools/shell/views/directory.md.j2' %}
{% endif %}
{% if views.shell.commands %}
{% include '.tools/shell/views/commands.md.j2' %}
{% endif %}