# Task: Ontology - Debug

The `player` Sprite is intersecting the shoreline without being pushed into the "center" of the stream, leading to a confusing visual result of the `player` moving with the velocity of the stream and having the SUBMERGED channel rendered while still standing on shore.

I believe the VIRTUAL EDGE CROSSING procedure in `fields.py` needs to account for the width of the intersecting asset.

**Priority**

Assist in debugging the issue described. Further information related to the execution can be found in the [Test Session](#view-test-session) console.

{% include 'blocks/controls/debugging-guidelines.md' %}