# Task: Ontology - Patch

**Priority**

Assist in debugging and patching the bug described on the [Task Board](#ontology-task-board).

**Patching Guidelines**

- Determine if the bug is due to a simple misconfiguration or error. If the bug can be easily patched, patch it.
- If the bug is due to a deeper architectural issue and requires further analysis, use the [Backlog Template](#template-backlog) to open an item in the backlog.
- If the bug is due to an ambiguity in design, use the [Documentation Template](#template-documentation) to suggest clarifications and further specifications.

{% include 'blocks/controls/debugging-guidelines.md' %}

## Templates

{% include 'blocks/templates/template-documentation' %}

{% include 'blocks/templates/template-backlog.md' %} 