# Task: Ontology - Debug Session

**Priority**

Assist in debugging the issue described. Further information related to the execution can be found in the [Test Session](#view-test-session) console.

{% include 'blocks/controls/debugging-guidelines.md' %}