build/**
**/*.so
**/*.c
**/save/**
**/.DS_Store
**/__pycache__/**
**/**.pyc
**/*.*-dump.md
**/prompt.md
**/.prompts/**/*.md
**/.pytest_cache/**
**/.vscode/**

!**/.gitkeep
!**/templates/*-dump.md
!**/.prompts/blocks/**
!**/.prompts/board/**
