include src/data/conf/*
include src/data/state/*
include src/data/assets/effects*
include src/data/assets/objects/*
include src/data/assets/struts/*
include src/data/assets/tiles/*
include src/data/assets/sprites/*
include src/data/assets/plates/*
include src/version.txt

exclude src/onta/tests/**