include src/version.txt

include src/data/state/*

include src/data/conf/dialectic/*
include src/data/conf/entities/*
include src/data/conf/forms/*
include src/data/conf/self/*

include src/data/assets/entities/effects*
include src/data/assets/entities/nymphs/*
include src/data/assets/entities/sprites/*

include src/data/assets/forms/struts/*
include src/data/assets/forms/tiles/*
include src/data/assets/forms/plates/*
include src/data/assets/forms/tracks/*

include src/data/assets/self/senses/*
include src/data/assets/self/equipment/*
include src/data/assets/self/avatars/*

include src/data/assets/sounds/*

exclude src/onta/tests/**