# Task: Finite Automaton Documentation

The [YAML](#latest-finite-automata-schema) represents a finite automata and the conditions for its transitions into different nodes. Update the table and diagram to match the latest state of the automata presented in the YAML.

**Guidelines**

- Do not include information about the conditions in the diagram or table. Only include the node connections.

## Latest Finite Automata Schema

```yaml
{{ automata }}
```

## Old Representations

### Markdown Table

```markdown
{{ table }}
```

Mermaid Diagram

```mermaid
{{ diagram }}
```

Update the table and diagram to match the latest state of the automata presented in the YAML.

**Guidelines**

- Do not include information about the conditions in the diagram or table. Only include the node connections.