{% if tools.views.tests.values() | select | list | length > 0 %}
# Tool: Tests

The **Tests Tool** provides **Views** into the application testing bed. 

- **Current Workflow Focus**: {{ tools.parameters.tests.workflow | capitalize }}

## Views

{% include 'tools/tests/views/configuration.md.j2' %}

{% if tools.views.tests.fixtures %}
{% include 'tools/tests/views/fixtures.md.j2'%}
{% endif %}

{% if tools.views.tests.workflow %}
{% include 'tools/tests/views/workflows/' ~ tools.parameters.tests.workflow ~ '.md.j2' %}
{% endif %}

{% if tools.views.tests.console %}
{% include 'tools/tests/views/console.md.j2' %}
{% endif %}

{% endif %}
