### View: Workflow Tests - Intentions

#### tests.unit.app.game.logic.mechanics.intentional

**tests/unit/app/game/logic/mechanics/intentional/test_cognition.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/game/logic/mechanics/intentional/test_cognition.py') }}
```

**tests/unit/app/game/logic/mechanics/intentional/test_navigation.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/game/logic/mechanics/intentional/test_navigation.py') }}
```

**tests/unit/app/game/logic/mechanics/intentional/test_transition.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/game/logic/mechanics/intentional/test_transition.py') }}
```

#### tests.unit.app.services.translators

**tests/unit/app/services/translators/test_compiler.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/services/translators/test_compiler.py') }}
```

**tests/unit/app/services/translators/test_lambda.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/services/translators/test_lambda.py') }}
```
