### View: Test Workflow - Seasons

#### tests.unit.app.assets

**tests/unit/app/assets/test_frames.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/assets/test_frames.py') }}
```

**tets/unit/app/assets/test_hitboxes.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/assets/test_hitboxes.py') }}
```

#### tests.unit.app.game.logic.mechanics.world

**tests/unit/app/game/logic/mechanics/world/test_seasons.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/game/logic/mechanics/world/test_seasons.py') }}
```

#### tests.unit.app.services.translators

**tests/unit/app/services/translators/test_lambda.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/services/translators/test_lambda.py') }}
```

**tests/unit/app/services/translaters/test_compiler.py**

```python
{{ file(properties.paths.root + 'tests/unit/app/services/translators/test_compiler.py')}}
```