# Task: Finite Automata Documentation

The [YAML](#latest-schema) represents a finite automata and the conditions for its transitions into different nodes. 

**Guidelines**

- Update the table and diagram to match the latest state of the automata presented in the YAML.
- Do not include information about the conditions in the diagram or table. Only include the node connections.

## Latest Schema

```yaml
{{ file(properties.paths.root + properites.paths.config + task.parameters.automata + '/main.yaml') }}
```

## Documentation

### Markdown Table

```markdown
{{ file(properties.paths.root + properties.paths.tables + task.parameters.table) }}
```

### Mermaid Diagram

```mermaid
{{ file(properties.paths.root + properties.paths.diagrams + task.parameters.diagram) }}
```