# Task: diagram(asset hierarchy)

Update the [Asset Hierarchy Diagram](#asset-hierarchy-diagram) to match the latest code and documentation.

**Guidelines**

- Enumerate all Asset Categories and Instances.
- The diagram is meant to be high-level. Do not include information about specific fields or attributes.

## Asset Hierarchy Diagram

```mermaid
{{ file(properties.paths.root + '/docs/static/mmd/asset-hierarchy.md') }}
```

## Latest Schema

### Property Schema

{{ file(properties.paths.root + 'src/app/properties.py') }}

### State Schema

```python
{{ file(properties.paths.root + 'src/app/models/state/schema.py')}}
```

---

```markdown
{{ file(properties.paths.root + '/docs/01-assets.md') }}
```

```markdown
{{ file(properties.paths.root + '/docs/06-widgets.md') }}
```