# Task: unit-test(app.game)

{% include '.blocks/guidelines/guidelines-coverage.md' %}


## Application Code

### src/app/assets

```python
{{ file(root + '/src/app/assets/base.py') }}
```

### src/app/models/state

```python
{{ file(root + '/src/app/models/state/core.py') }}
```

```python
{{ file(root + '/src/app/models/state/devices.py') }}
```

```python
{{ file(root + '/src/app/models/state/sprites.py') }}
```

```python
{{ file(root + '/src/app/models/state/objects.py') }}
```

```python
{{ file(root + '/src/app/models/state/geography.py') }}
```

```python
{{ file(root + '/src/app/models/state/effects.py') }}
```

```python
{{ file(root + '/src/app/models/state/schemas.py') }}
```

### src/app/models/properties

```python
{{ file(root + '/src/app/models/properties.py') }}
```

### src/app/models/config

```python
{{ file(root + '/src/app/models/config/core.py') }}
```

```python
{{ file(root + '/src/app/models/config/mappings.py') }}
```

```python
{{ file(root + '/src/app/models/config/recipes.py') }}
```

```python
{{ file(root + '/src/app/models/config/schemas.py') }}
```

### src/app/game

```python
{{ file(root + '/src/app/game/board.py') }}
```

```python
{{ file(root + '/src/app/game/screen.py') }}
```

## Unit tests

### tests/unit/conftest

```python
{{ file(root + '/tests/unit/conftest.py') }}
```

### test/unit/game/test_app_game_board.py

```python
{{ file(root + '/tests/unit/test_app_game_board.py') }}
```

## Results

```bash
gmoore@localhost % pytest {{root}}/tests/unit/test_app_game_board.py

{{ command('pytest ' + root + '/tests/unit/test_app_game_board.py') }}
```