{% set diagram = "mechanics-fluid.mmd" %}
# Task: Mermaid Styling

The following Mermaid diagram is embedded in a [mkdocs project](#mkdocs). Ensure the graph styles are aligned with the project themes.

**Guidelines**

- Always apply the principles of Material UI design and theming when selecting colors.

## mmd

```mermaid
{{ file(properties.paths.root + properties.paths.diagrams + diagram) }}
```

## mkdocs

```yaml
{{ file(properties.paths.root + '/' + properties.files.mkdocs) }}
```