{% set diagram = "effect-model.mmd" %}
# Task: Mermaid Styles

The following Mermaid diagram is embedded in a [mkdocs project](#mkdocs). Ensure the graph styles are aligned with the project themes.

**Guidelines**

- Always apply the principles of Material UI design and theming when selecting colors.

## New Mermaid Diagram

```mermaid
{{ file(root + '/docs/static/mmd/' + diagram) }}
```

## mkdocs configuration

```yaml
{{ file(root + '/mkdocs.yml') }}
```