### View: Commands

- This section contains additional information, scraped at prompt-time.

{% for cmd in tools.parameters.shell.commands -%}
```bash
{{ properties.user.username }}@localhost %  {{ cmd }}

{{ command(cmd) }}
```

{% endfor %}