### View: Directory

```bash
{{ properties.user.username }}@{{ properties.user.hostname }}% {{ tools.parameters.shell.directory }} {{ properties.paths.root }}

{{ command(tools.parameters.shell.directory + " " + properties.paths.root) }}
```