### View: Directory

```bash
{{ properties.user.username }}@localhost % {{ tools.parameters.shell.directory }} {{ properties.paths.root }}

{{ command(tools.parameters.shell.directory + " " + properties.paths.root) }}
```