{% if tools.views.manager.values() | select | list | length > 0 %}
# Tool: Manager

The **Manager Tool** provides **Views** into project planning, architectural designs and other high-level documents.

## Views

{% if tools.views.manager.board %}
{% include 'tools/manager/views/board.md.j2' %}
{% endif %}
{% if tools.views.manager.docs %}
{% include 'tools/manager/views/docs.md.j2' %}
{% endif %}
{% if tools.views.manager.specs %}
{% include 'tools/manager/views/specs.md.j2' %}
{% endif %}
{% endif %}
