### View: Workflow - Compositions

#### app.assets

**src/app/assets/base.py**

```python
{{ file(properties.paths.root + 'src/app/assets/base.py') }}
```

#### app.game

**src/app/game/engine.py**

```python
{{ file(properties.paths.root + 'src/app/game/engine.py') }}
```

**src/app/game/screen.py**

```python
{{ file(properties.paths.root + 'src/app/game/engine.py') }}
```

##### app.game.board

**src/app/game/board/core.py**

```python
{{ file(properties.paths.root + 'src/app/game/board/core.py') }}
```

#### app.models

**src/app/models/properties.py**

```python
{{ file(properties.paths.root + 'src/app/models/properties.py') }}
```

##### app.models.config

**src/app/models/config/compositions.py**

```python
{{ file(properties.paths.root + 'src/app/models/config/compositions.py') }}
```

##### app.models.state 

**src/app/models/state/core.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/core.py') }}
```

**src/app/models/state/crafts.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/objects.py' ) }}
```

**src/app/models/state/schemas.py:**

```python
{{ file(properties.paths.root + 'src/app/models/state/schemas.py')}}
```

#### app.services

##### app.services.generators

###### app.services.generators.game

**src/app/services/generators/game/cradle.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/cradle.py') }}
```

**src/app/services/generators/game/decomposer.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/decomposer.py' ) }}
```

**src/app/services/generators/game/factory.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/factory.py' ) }}
```

##### app.services.orchestration

**src/app/services/orchestration/migrator.py**

```python
{{ file(properties.paths.root + 'src/app/services/orchestration/migrator.py') }}
```