### View: Workflow - Ecology

#### app.assets

**src/app/assets/base.py**

```python
{{ file(properties.paths.root + 'src/app/assets/base.py') }}
```

##### app.assets.frames

**src/app/assets/frames/core.py**

```python
{{ file(properties.paths.root + 'src/app/assets/frames/core.py') }}
```

**src/app/assets/frames/tiles.py**

```python
{{ file(properties.paths.root + 'src/app/assets/frames/tiles.py') }}
```

**src/app/assets/frames/resources.py**

```python
{{ file(properties.paths.root + 'src/app/assets/frames/resources.py') }}
```

**src/app/assets/frames/geography.py**

```python
{{ file(properties.paths.root + 'src/app/assets/frames/geography.py') }}
```

#### app.game

**src/app/game/engine.py**

```python
{{ file(properties.paths.root + 'src/app/game/engine.py') }}
```

**src/app/game/screen.py**

```python
{{ file(properties.paths.root + 'src/app/game/screen.py') }}
```

##### app.game.board

**src/app/game/board/core.py**

```python
{{ file(properties.paths.root + 'src/app/game/board/core.py') }}
```

**src/app/game/board/predicates.py**

```python
{{ file(properties.paths.root + 'src/app/game/board/predicates.py') }}
```

**src/app/game/board/fields.py**

```python
{{ file(properties.paths.root + 'src/app/game/board/fields.py') }}
```

##### app.game.logic

###### app.game.logic.mechanics

**src/app/game/logic/mechanics/base.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/base.py') }}
```

**src/app/game/logic/mechanics/world/seasons.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/world/seasons.py') }}
```

**src/app/game/logic/mechanics/world/fluid.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/world/fluid.py') }}
```

#### app.models

**src/app/models/properties.py**

```python
{{ file(properties.paths.root + 'src/app/models/properties.py') }}
```

##### app.models.config

**src/app/models/config/transitions.py**

```python
{{ file(properties.paths.root + 'src/app/models/config/transitions.py') }}
```

**src/app/models/config/mechanics.py**

```python
{{ file(properties.paths.root + 'src/app/models/config/mechanics.py') }}
```

**src/app/models/config/schemas.py**

```python
{{ file(properties.paths.root + 'src/app/models/config/schemas.py') }}
```

##### app.models.state 

**src/app/models/state/core.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/core.py')}}
```

**src/app/models/state/schemas.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/schemas.py')}}
```

###### app.models.state.assets

**src/app/models/state/assets/tiles.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/assets/tiles.py') }}
```

**src/app/models/state/assets/resources.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/assets/resources.py') }}
```

**src/app/models/state/assets/geography.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/assets/geography.py') }}
```

##### app.services.generators

###### app.services.generators.game

**src/app/services/generators/game/actuator.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/actuator.py') }}
```

**src/app/services/generators/game/cartographer.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/cartographer.py') }}
```