### View: Workflow - Fluids

#### app.assets

**src/app/assets/base.py**

```python
{{ file(properties.paths.root + 'src/app/assets/base.py') }}
```

##### app.assets.frames

**src/app/assets/frames/effects.py**

```python
{{ file(properties.paths.root + 'src/app/assets/frames/effects.py') }}
```

**src/app/assets/frames/geography.py**

```python
{{ file(properties.paths.root + 'src/app/assets/frames/geography.py') }}
```

#### app.game

**src/app/game/board.py**

```python
{{ file(properties.paths.root + 'src/app/game/board.py') }}
```

**src/app/game/engine.py**

```python
{{ file(properties.paths.root + 'src/app/game/engine.py') }}
```

**src/app/game/screen.py**

```python
{{ file(properties.paths.root + 'src/app/game/engine.py') }}
```

##### app.game.logic

###### app.game.logic.mechanics

**src/app/game/logic/mechanics/base.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/base.py') }}
```

####### app.game.logic.mechanics.core 

***src/app/game/logic/mechanics/core/motion.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/core/motion.py') }}
```

####### app.game.logic.mechanics.world

**src/app/game/logic/mechanics/world/fluid.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/world/fluid.py') }}
```

###### app.game.logic.modules 

####### app.game.logic.modules.motion

**src/app/game/logic/modules/motion/fields.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/modules/motion/fields.py') }}
```

###### app.game.logic.relations

**src/app/game/logic/relations/shorelines.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/relations/shorelines.py') }}
```

#### app.models

**src/app/models/properties.py**

```python
{{ file(properties.paths.root + 'src/app/models/properties.py') }}
```

##### app.models.state 

**src/app/models/state/core.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/core.py')}}
```

**src/app/models/state/objects.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/objects.py' ) }}
```

**src/app/models/state/effects.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/effects.py' ) }}
```

**src/app/models/state/geography.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/geography.py' ) }}
```

#### app.services

##### app.services.orchestration

**src/app/services/orchestration/builder.py**

```python
{{ file(properties.paths.root + 'src/app/services/orchestration/builder.py') }}
```

##### app.services.generators

###### app.services.generators.game

**src/app/services/generators/game/actuator.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/actuator.py' ) }}
```

**src/app/services/generators/game/cartographer.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/cartographer.py')}}
```

**src/app/services/generators/game/cradle.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/cradle.py' ) }}
```

**src/app/services/generators/game/factory.py**

```python
{{ file(properties.paths.root + 'src/app/services/generators/game/factory.py' ) }}
```

#### libs.core

**src/libs/core/models.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/models.pyx') }}
```

##### libs.core.math

**src/libs/core/math/geometry.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/math/geometry.pyx') }}
```

