### View: Workflow - Pathfinding

#### app.assets

**src/app/assets/base.py**

```python
{{ file(properties.paths.root + 'src/app/assets/base.py') }}
```

#### app.game

**src/app/game/board.py**

```python
{{ file(properties.paths.root + 'src/app/game/board.py') }}
```

**src/app/game/engine.py**

```python
{{ file(properties.paths.root + 'src/app/game/engine.py') }}
```

##### app.game.logic.mechanics

**src/app/game/logic/mechanics/base.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/base.py') }}
```

###### app.game.logic.mechanics.core 

***src/app/game/logic/mechanics/core/motion.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/core/motion.py') }}
```

###### app.game.logic.mechanics.intentional


**src/app/game/logic/mechanics/intentional/navigation.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/intentional/navigation.py') }}
```

##### app.game.logic.modules 

###### app.game.logic.modules.motion

**src/app/game/logic/modules/motion/motive.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/modules/motion/motive.py') }}
```

###### app.game.logic.modules.paths

**src/app/game/logic/modules/paths/plan.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/modules/paths/plan.py') }}
```

#### libs.core

**src/libs/core/models.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/models.pyx') }}
```

##### libs.core.math

**libs/core/math/paths.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/math/paths.pyx') }}
```

**libs/core/math/physics.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/math/physics.pyx') }}
```