### View: Workflow - Synthesize Script

#### configuration

**scripts/synthesize/sounds.yaml**

```yaml
```

**scripts/synthesize/score.ymal**

```yaml
```

#### application

**scripts/synthesize/setup.py**

```python
```

**scripts/synthesize/main.py**

```python
```

**scripts/synthesize/loader.py**

```python
```

**scripts/synthesize/models.py**

```python
```

#### library

**scripts/synthesize/sound.pyx**

```cython
```