# Task: Ontology - Conclusion

*Unit Tests*: Passing
*User Acceptance Tests*: Passing

The current Phase has been completed. All tests are passing. Now is the time to consolidate, review code for bugs or misalignments and ideate goals for the future. 

Discuss the design and architecture of this application with respect to the preceding and future phases. Do not implement anything; instead step back and examine the big picture. Focus on the overarching philosophy and goal of the application.

**Priorities**

- Use the [Code Review Template](#template-code-review) to perform an analysis of the current phase's implementation.
- (*Optional*) Use the [Documentation Template](#template-documentaton) to isolate any divergences in the documentation and codebase.
- (*Optional*) Use [Backlog Template](#template-backlog) to open backlog items.
- (*Optional*) Use the [Bug Report Template](#template-bug-report) to raise any issues you find.

{% include 'blocks/controls/architecture-guidelines.md' %}

## Templates

{% include 'blocks/templates/template-review.md' %}

{% include 'blocks/templates/template-docs.md' %}

{% include 'blocks/templates/template-backlog.md' %} 

{% include 'blocks/templates/template-bug.md' %}