# Task: Ontology - Coverage

**Priorities**
      
- Add unit test coverage for any new functionality implemented.
- Add any unit tests for any areas of the code not already covered.
- Debug the current run of the test pipeline located in the [Test Console](#view-test-console) section

**Guidelines**

- Add any fixtures to appropiate module.
- Do **not** create fixtures in the test itself; Tests should request fixtures and use them.
- Do not test code you haven't seen.