{% include '.blocks/context/index.md' %}

{% include '.tools/shell/index.md.j2' %}

{% include '.tools/github/index.md.j2' %}

# Task: Ontology - Groom

{% include '.blocks/guidelines/guidelines-grooming.md' %}
