# Task: Ontology - Implementation

**Priorities**

- Implement the next task(s) on the [Task Board](#view-ontology-task-board).

**Implementation Guidelines**

- Always approach problems from a functional perspective, i.e. break the problem up into the smallest chunks and modularize as much as possible. 
- Keep in mind: while generality and reusability is good, this should not come at the expense of readability. Do not implement a solution unless you think others can understand it.
- Do **NOT** go outside the specifications and implement functionality you *think* should be implemented. If you notice something that is not addressed by the current state of the [Task Board](#view-ontology-task-board), open a new [Backlog Item](#template-backlog) or file a [Bug Report](#template-bug-report)
- If the current tasking is ambiguous, do **NOT** make design decisions without **User** review. Instead, open a [Backlog Item](#template-backlog) for **User** approval. 

{% include 'blocks/controls/code-quality.md' %}

{% include 'blocks/controls/change-constraints.md' %}

{% include 'blocks/controls/architecture-guidelines.md' %}