{% set test_command = tools.parameters.tests.console + ' ' + tools.parameters.tests.workflow %}
{% set test_path = properties.paths.root + properties.paths.tests %}
{# ----------------------------------------------------------------------  #}
### View: Test Console

```bash
{{ properties.user.username }}@localhost %  {{ test_command }} {{ test_path }}

{{ command(test_command + ' ' + test_path) }}
```
