### View: Test Console

```bash
{{ properties.user.username }}@localhost %  {{ tools.parameters.tests.console.pytest }} {{ properties.paths.root }}{{ properties.paths.tests }}

{{ command(tools.parameters.tests.console.pytest + ' ' + properties.paths.root + properties.paths.tests) }}
```
