### View: Test Fixtures

#### tests.unit.fixtures

{% for fixture in tools.parameters.tests.fixtures %}
**tests/unit/fixtures/{{ fixture }}.py**

```python
{{ file(properties.paths.root + properties.paths.fixtures + fixture + '.py') }}
```

{% endfor %}
