{% set prefixes = {
    "patch": "bug",
    "achieve": "goal",
    "implement": "phase",
    "refactor": "refactor"
} %}
{% set action = parameters.source.action %}
{% set phase = parameters.source.phase %}
{% set prefix = prefixes[action] %}
{% set path = paths.root + paths.board + 'phases/' + action + "/" + prefix + "-" + phase + ".md" %}
{# -------------------------------------------------  #}
### View: {{ project.title | capitalize }} Task Board

- **Current Phase**: {{ prefix | upper }} {{ phase | upper }}
- **Current Phase Action**: {{ action | upper }}

{{ file(paths.root + paths.board + 'index.md') }}

{{ file(path) }}
