{% set prefixes = {
    "patch": "bug",
    "achieve": "goal",
    "implement": "phase",
    "refactor": "refactor"
} %}
{% set action = tools.parameters.manager.action %}
{% set phase = tools.parameters.manager.phase %}
{% set prefix = prefixes[action] %}
{% set path = properties.paths.root + properties.paths.phases + action + "/" + prefix + "-" + phase + ".md" %}
{# -------------------------------------------------  #}
### View: {{ properties.project.title | capitalize }} Task Board

- **Current Phase**: {{ prefix | upper }} {{ phase | upper }}
- **Current Phase Action**: {{ action | upper }}

{{ file(properties.paths.root + properties.paths.board + '/index.md') }}

{{ file(path) }}
