{% set exclude = tools.parameters.manager.docs.exclude  
                    if tools.parameters.manager.get('docs') 
                        and tools.parameters.manager.docs.get('exclude') 
                            else ['index.md']
%}
### View: {{ properties.project.title | capitalize }} Documentation 

----------- START HEADING BREAK: HEADING LEVELS RESET -----------

{{ file(properties.paths.root + properties.paths.docs + 'index.md') }}

{% for doc in markdown(properties.paths.root + properties.paths.docs, exclude) %}
{{ file(properties.paths.root + properties.paths.docs + doc) }}

{% endfor %}

----------- END HEADING BREAK: HEADING LEVELS RESUME -----------