## Ontology Workflow: Intentions

### Configuration

**data/config/intentions/main.yaml**

```yaml
{{ file(properties.paths.root + 'data/config/intentions/main.yaml') }}
```

### app.assets

**src/app/assets/base.py**

```python
{{ file(properties.paths.root + 'src/app/assets/base.py') }}
```

### app.game

**src/app/game/board.py**

```python
{{ file(properties.paths.root + 'src/app/game/board.py') }}
```

**src/app/game/engine.py**

```python
{{ file(properties.paths.root + 'src/app/game/engine.py') }}
```

#### app.game.logic.mechanics

**src/app/game/logic/mechanics/base.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/base.py') }}
```

##### app.game.logic.mechanics.core 

***src/app/game/logic/mechanics/core/animation.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/core/animation.py') }}
```

##### app.game.logic.mechanics.intentional

**src/app/game/logic/mechanics/intentional/cognition.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/intentional/cognition.py') }}
```

**src/app/game/logic/mechanics/intentional/transition.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/intentional/transition.py') }}
```

**src/app/game/logic/mechanics/intentional/navigation.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/mechanics/intentional/navigation.py') }}
```

#### app.game.logic.modules 

##### app.game.logic.modules.map

**src/app/game/logic/modules/maps/animation.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/modules/maps/animation.py') }}
```

##### app.game.logic.modules.motion

**src/app/game/logic/modules/motion/motive.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/modules/motion/motive.py') }}
```

##### app.game.logic.modules.paths

**src/app/game/logic/modules/paths/plans.py**

```python
{{ file(properties.paths.root + 'src/app/game/logic/modules/paths/plans.py') }}
```

#### app.models.state 

**src/app/models/state/core.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/core.py')}}
```

**src/app/models/state/sprites.py**

```python
{{ file(properties.paths.root + 'src/app/models/state/sprites.py' ) }}
```

### libs.core

**src/libs/core/models.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/models.pyx') }}
```

#### libs.core.math

**src/libs/core/math/geometry.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/math/geometry.pyx') }}
```

**libs/core/math/paths.pyx**

```cython
{{ file(properties.paths.root + 'src/libs/core/math/paths.pyx') }}
```