{% set path = task.template.verb + "/" + task.template.noun + ".md.j2" %}
{# ----------------------------------------------------------- CONTEXT #}
{# ------------------------------------------------------------------- #}
{% include 'blocks/context/index.md' %}

{# ------------------------------------------------------------- TOOLS #}
{# ------------------------------------------------------------------- #}

{% include 'tools/manager/index.md.j2'  %}

{% include 'tools/source/index.md.j2' %}

{% include 'tools/shell/index.md.j2' %}

{# -------------------------------------------------------------- TASK #}
{# ------------------------------------------------------------------- #}

{% include path %}