{% set specs = """

""" %}
# Task: design(menu)

{{ specs }}

## Asset

```python
{{ file(root + '/src/app/assets/base.py') }}
```

## Configuration

!!! note
    Configuration YAMLs are validated against these classes uses Pydantic TypeAdapters.

```python
{{ file(root + '/src/app/models/config/menus.py')}}
```

## Models

### Widget State

```python
{{ file(root + '/src/app/models/state/core.py') }}
```

```python
{{ file(root + '/src/app/models/state/widgets.py') }}
```

## Menus

```python
{{ file(root + '/src/app/game/menus/core.py') }}
```

### Bindings

```python
{{ file(root + '/src/app/game/menus/bindings/aperture.py') }}
```

```python
{{ file(root + '/src/app/game/menus/bindings/collection.py')}}
```

```python
{{ file(root + '/src/app/game/menus/bindings/icon.py') }}
```

```python
{{ file(root + '/src/app/game/menus/bindings/meter.py') }}
```

```python
{{ file(root + '/src/app/game/menus/bindings/select.py') }}
```

```python
{{ file(root + '/src/app/game/menus/bindings/text.py') }}
```

---

```markdown
{{ file(root + '/docs/06-widgets.md') }}
```