### View: Scripts - Synthesize

#### README

```markdown
{{ file(properties.paths.root + 'scripts/synthesize/README.md') }}
```

#### score

**scripts/synthesize/score.ymal**

```yaml
{{ file(properties.paths.root + 'scripts/synthesize/score.yaml')}}
```

#### configuration

**scripts/synthesize/sounds.yaml**

```yaml
{{ file(properties.paths.root + 'scripts/synthesize/sounds.yaml')}}
```

#### application

**scripts/synthesize/setup.py**

```python
{{ file(properties.paths.root + 'scripts/synthesize/setup.py')}}
```

**scripts/synthesize/main.py**

```python
{{ file(properties.paths.root + 'scripts/synthesize/main.py')}}
```

**scripts/synthesize/loader.py**

```python
{{ file(properties.paths.root + 'scripts/synthesize/loader.py')}}
```

**scripts/synthesize/models.py**

```python
{{ file(properties.paths.root + 'scripts/synthesize/models.py')}}
```

#### library

**scripts/synthesize/sound.pyx**

```cython
{{ file(properties.paths.root + 'scripts/synthesize/sound.pyx')}}
```